.main {
    margin-top: 16vh;
}

.maxHeight-8vh {
    max-height: 8vh;
}

.pulldown-menus {
    max-height: 7vh;
}

.sorry {
    background-color: rgba(219, 0, 7, 0.2);
    color: rgb(255, 255, 255);
    padding:100px;
    text-shadow: 1px 1px black;
}