<div class="col s12">
  <ul class="tabs horizontalUL">
    <li class="tab col"><a [routerLink]="[ '/Team' ]">Roster</a></li>
    <li class="tab col"><a [routerLink]="[ '/Epl' ]">Premier League</a></li>
    <li class="tab col"><a [routerLink]="[ '/FA-Cup' ]">FA Cup</a></li>
    <li class="tab col"><a [routerLink]="[ '/League-Cup' ]">League Cup</a></li>
    <li class="tab col"><a [routerLink]="[ '/Champions-League' ]">UEFA Champions League</a></li>
    <li class="tab col"><a [routerLink]="[ '/SA-Continental-Cup' ]">SA Continental Cup</a></li>
    </ul>
</div>