.founded {
    font-size: 1rem;
}

h2 {
    cursor:pointer;
    color:#fff;
    display: contents;
    text-shadow: 1px 1px #000;
}

.navbar {
    background: rgba(219, 0, 7, 1) !important;
    position: fixed;
    height: 100px;
    top: 0;
    z-index: 1020;
}